.footer {
  padding: 20px 0;
  font-size: 14px;
  border-top: 1px solid var(--bs-border-color);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  color: var(--bs-body-color);
}

.footer .copyright {
  text-align: center;
  color: inherit;
}

.footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: inherit;
}

.footer .credits a {
  color: var(--bs-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer .credits a:hover {
  color: var(--bs-primary-dark);
  text-decoration: underline;
}

[data-bs-theme='dark'] .footer .credits a {
  color: var(--second);
}

[data-bs-theme='dark'] .footer .credits a:hover {
  text-decoration: underline;
}

[data-bs-theme='dark'] .footer {
  background-color: var(--bs-dark-bg-subtle);
}
