.dashboard .top-selling {
  font-size: 14px;
}

.dashboard .top-selling .table thead {
  background: #f6f6fe !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

[data-bs-theme='dark'] .dashboard .top-selling .table thead tr th,
[data-bs-theme='dark'] .dashboard .top-selling .table tbody tr {
  background-color: var(--card-bg) !important;
}

[data-bs-theme='dark'] .dashboard .top-selling .table tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

[data-bs-theme='dark'] .dashboard .top-selling .table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.075) !important;
}

.dashboard .top-selling .table thead th {
  border: 0;
  color: #3b4164;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

[data-bs-theme='dark'] .dashboard .top-selling .table thead th {
  color: #e9ecef;
}

.dashboard .top-selling .table tbody td {
  vertical-align: middle;
}

.dashboard .top-selling img {
  max-width: 60px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
